In [1]:
import os
import requests
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()

True

In [2]:
import requests
import pandas as pd

url = "https://jsonplaceholder.typicode.com/users"
response = requests.get(url, timeout=10)

users = response.json()
df = pd.json_normalize(users)
df.head()

,id,name,username,email,phone,website,address.street,address.suite,address.city,address.zipcode,address.geo.lat,address.geo.lng,company.name,company.catchPhrase,company.bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems

In [3]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:isba_4715@isba-dev-02.cxue0o466fzu.us-east-1.rds.amazonaws.com:5432/postgres?sslmode=require"
)

In [4]:
from sqlalchemy import text

with engine.connect() as conn:
    conn.execution_options(isolation_level="AUTOCOMMIT").execute(
        text("CREATE SCHEMA IF NOT EXISTS sql_project")
    )

In [5]:
df.to_sql(
    name="api_users",
    con=engine,
    schema="sql_project",  # only works now that it's created
    if_exists="replace",
    index=False
)

10

In [6]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM sql_project.api_users LIMIT 5"))
    for row in result:
        print(row)

(1, 'Leanne Graham', 'Bret', 'Sincere@april.biz', '1-770-736-8031 x56442', 'hildegard.org', 'Kulas Light', 'Apt. 556', 'Gwenborough', '92998-3874', '-37.3159', '81.1496', 'Romaguera-Crona', 'Multi-layered client-server neural-net', 'harness real-time e-markets')
(2, 'Ervin Howell', 'Antonette', 'Shanna@melissa.tv', '010-692-6593 x09125', 'anastasia.net', 'Victor Plains', 'Suite 879', 'Wisokyburgh', '90566-7771', '-43.9509', '-34.4618', 'Deckow-Crist', 'Proactive didactic contingency', 'synergize scalable supply-chains')
(3, 'Clementine Bauch', 'Samantha', 'Nathan@yesenia.net', '1-463-123-4447', 'ramiro.info', 'Douglas Extension', 'Suite 847', 'McKenziehaven', '59590-4157', '-68.6102', '-47.0653', 'Romaguera-Jacobson', 'Face to face bifurcated interface', 'e-enable strategic applications')
(4, 'Patricia Lebsack', 'Karianne', 'Julianne.OConner@kory.org', '493-170-9623 x156', 'kale.biz', 'Hoeger Mall', 'Apt. 692', 'South Elvis', '53919-4257', '29.4572', '-164.2990', 'Robel-Corkery', 'Multi-tiered zero tolerance productivity', 'transition cutting-edge web services')
(5, 'Chelsey Dietrich', 'Kamren', 'Lucio_Hettinger@annie.ca', '(254)954-1289', 'demarco.info', 'Skiles Walks', 'Suite 351', 'Roscoeview', '33263', '-31.8129', '62.5342', 'Keebler LLC', 'User-centric fault-tolerant solution', 'revolutionize end-to-end systems')

In [8]:
from dotenv import load_dotenv
import os

load_dotenv()

print(os.getenv('MYSQL_USER'))
print(os.getenv('PG_USER'))

None
postgres

In [10]:
from sqlalchemy import create_engine
import os

# Load environment variables (just in case)
from dotenv import load_dotenv
load_dotenv()

# Create MySQL connection engine
mysql_conn_str = f"mysql+pymysql://{os.getenv('MYSQL_USER')}:{os.getenv('MYSQL_PASSWORD')}@{os.getenv('MYSQL_HOST')}/{os.getenv('MYSQL_DB')}"
mysql_engine = create_engine(mysql_conn_str)

# Create Postgres connection engine
pg_conn_str = f"postgresql+psycopg2://{os.getenv('PG_USER')}:{os.getenv('PG_PASSWORD')}@{os.getenv('PG_HOST')}/{os.getenv('PG_DB')}"
pg_engine = create_engine(pg_conn_str)

print("✅ Successfully created database connection engines.")

✅ Successfully created database connection engines.

In [11]:
# --- IMPORTS ---
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

# --- LOAD ENV VARIABLES ---
load_dotenv()

# --- CREATE DATABASE CONNECTIONS ---
mysql_conn_str = f"mysql+pymysql://{os.getenv('MYSQL_USER')}:{os.getenv('MYSQL_PASSWORD')}@{os.getenv('MYSQL_HOST')}/{os.getenv('MYSQL_DB')}"
mysql_engine = create_engine(mysql_conn_str)

pg_conn_str = f"postgresql+psycopg2://{os.getenv('PG_USER')}:{os.getenv('PG_PASSWORD')}@{os.getenv('PG_HOST')}/{os.getenv('PG_DB')}"
pg_engine = create_engine(pg_conn_str)

print("✅ Database engines created successfully.")

# --- EXTRACT: LOAD DATA (example from MySQL, or from scrape, or dummy) ---
# Here is an example: loading fake customer support tickets
df = pd.DataFrame({
    "ticket_id": [1, 2, 3],
    "customer_name": ["Alice", "Bob", "Charlie"],
    "issue_description": ["Login issue", "Payment failed", "Account locked"],
    "status": ["Open", "Resolved", "Pending"]
})

print("✅ Extracted data:")
print(df.head())

# --- OPTIONAL TRANSFORM: LIGHT CLEAN-UP (if needed) ---
# Example (none needed here)

# --- LOAD: INSERT DATA TO POSTGRES ---
df.to_sql(
    name='customer_support_raw',   # Table name
    con=pg_engine,
    schema='sql_project',                  # Your raw schema
    if_exists='replace',           # 'replace' now; 'append' later if incremental
    index=False
)

print("✅ Data successfully loaded into Postgres raw schema!")

✅ Database engines created successfully.
✅ Extracted data:
   ticket_id customer_name issue_description    status
0          1         Alice       Login issue      Open
1          2           Bob    Payment failed  Resolved
2          3       Charlie    Account locked   Pending

✅ Data successfully loaded into Postgres raw schema!